page {
  height: 100%;
  min-height: 100%;
  background: #f4f4f4;
}

.container {
  background: #f4f4f4;
  width: 100%;
  height: calc(100vh - 50Px) !important;
  min-height: 100%;
  overflow: hidden;
}

.rmc-pull-to-refresh-content-wrapper {
  min-height: calc(100vh - 50Px) !important;
  height: calc(100vh - 50Px);
}

.no-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-login .c {
  width: 100%;
  height: auto;
  text-align: center;
}

.no-login .c .text {
  font-size: 35px;
  color: #999;
}

.mb1r {
  margin-bottom: 1rem;
}

.button {
  @height: 2rem;
  background-color: #d5ba73;
  color: white;
  border-radius: (@height / 2);
  width: 90%;
  height: @height;
  line-height: @height;
  font-size: .6rem;
  font-weight: bolder;
  margin: 0 auto;
}

.no-cart {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: .75rem;

  .c {
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  text {
    display: block;
    text-align: center;
    font-size: 29px;
    color: #999;
  }
}

.cart-view .group-item .header {
  width: 100%;
  height: 94px;
  line-height: 94px;
  padding: 0 26px;
  border-bottom: 1px solid #f4f4f4;
}

.cart-view .promotion .icon {
  display: inline-block;
  height: 24px;
  width: 15px;
}

.cart-view .promotion {
  margin-top: 25.5px;
  float: left;
  height: 43px;
  width: 480px;
  /*margin-right: 84px;*/
  line-height: 43px;
  font-size: 0;
}

.cart-view .promotion .tag {
  border: 1px solid #f48f18;
  height: 37px;
  line-height: 31px;
  padding: 0 9px;
  margin-right: 10px;
  color: #f48f18;
  font-size: 24.5px;
}

.cart-view .promotion .txt {
  height: 43px;
  line-height: 43px;
  padding-right: 10px;
  color: #333;
  font-size: 29px;
  overflow: hidden;
}

.taro-view-core {
  visibility: visible;
}
.flex-center {
  display: flex;
  align-items: center;
}
.cart-wrapper {
  padding: .25rem;
  visibility: visible!important;

  .cart-view {
    .goods {
      .item {
        padding: .5rem;
        background-color: white;
      }
      .name {
        font-size: .65rem;
        font-weight: bolder;
      }
      .cart-goods {
        display: flex;
        align-items: center;
      }
      .img {
        width: 4rem;
        height: 4rem;
        background: #f4f4f4;
        margin-right: .5rem;
      }
      .info {
        flex: 1 1 0;
      }
      .attr {
        color: #666;
      }
      .row3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .num {
        font-size: .6rem;
      }
      .price {
        font-size: .4rem;
        color: #ab956d;
        .price-number {
          font-size: 1rem;
        }
      }
      .selnum {
        border: 1px solid #ccc;
        max-width: 4rem;
        height: 1rem;
        line-height: 1rem;
        .cut, .add {
          width: 1rem;
          text-align: center;
        }
        .number {
          display: flex;
          flex: 1;
          align-self: stretch;
          text-align: center;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          .weui-input {
            height: auto;
          }
        }
      }
    }
    .flex-center {
      display: flex;
      align-items: center;
    }
    .cart-bottom {
      position: fixed;
      bottom: 50Px;
      left: 0;
      right: 0;
      background: #fff;
      padding: .25rem .5rem .25rem .75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1;
      .total {
        font-size: .75rem;
      }
      .statistic {
        flex: 1 1 0;
        text-align: right;
      }
      .button1 {
        border-radius: 100px;
        color: #f4f4f4;
        padding: .5rem 1.25rem;
        font-size: .5rem;
        line-height: 1.2;
      }
      .edit {
        background-image: linear-gradient(to right, #9a9ba1 0%, #9a9ba1 100%);
      }
      .delete {
        background-image: linear-gradient(to right, #9a9ba1 0%, #9a9ba1 100%);
      }
      .sure {
        background-image: linear-gradient(to right, #ab956d 0%, #ab956d 100%);
      }
      .checkout {
        background-image: linear-gradient(to right, #ab956d 0%, #ab956d 100%);
      }

      .button1 + .button1 {
        margin-left: .5rem;
      }
    }
  }
  .taro-checkbox_checked {
    width: 16Px;
    height: 16Px;
    font-size: 16Px;
    line-height: 16Px;
  }
  .sp-middle {
    margin-right: .5rem;
  }
  .info1 {
    color: #ccc;
  }
  .ml4 {
    margin-left: 4Px;
  }
  .ml8 {
    margin-left: 8Px;
  }
  .ml12 {
    margin-left: 12Px;
  }
}
