.ucenter-container {
  height: calc(100vh - 50Px);
  overflow-y: auto;
  width: 100%;
}

.footer {
  padding: 0 20px;
  margin-bottom: 20px;
}
.self-button.logout-button {
  background-color: white;
  text-align: center;
  color: #111111;
}
