page {
  height: 100%;
  width: 100%;
  background:rgb(249, 249, 249);
}
body, div, .hydrated {
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 414Px;
  font-size: 14Px;
}
.taro_page {
  font-size: 14px;
}
.container {
  box-sizing: border-box;
  background-color:  rgb(249, 249, 249);
}
.bar-container {
  padding-bottom: 105px;
}

/**自定义组件*/
.my-tab-bar {
  padding: 0px 0 6px !important;
}
.at-tab-bar__icon {
  font-size: 20px;
}
/** grid **/
.at-grid {
  background: #fff;
  border-radius: 14px;
  margin-top: 20px;
  .at-grid__flex .content-inner__img {
    width: 50px;
    height: 50px;
  }

  .at-grid__flex .content-inner__text {
    font-size: 30px;
  }
}

/** list **/
.at-list {
  background: #fff;
  border-radius: 14px;
  margin-top: 20px;

  .at-list__item{
    // padding: 20px 24px;
  }
  .at-list__item::after{
    border-color: #ebedf0;
  }
  .at-list__item--thumb .item-thumb{
    width: 34px;
    height: 34px;

  }
  .at-list__item-content {
    text-align: left;
  }

}

/**tabs**/
.at-tabs-pane {
  background: rgb(249, 249, 249);;
}

/*  #ifdef weapp  */
view, image, text, navigator {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*  #endif  */


/*  #ifdef h5  */
div, img, span, navigator {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*  #endif  */
.row_ellipse, .lineov1 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.flex {
  display: flex;
}
.p1rem {
  padding: 1rem;
}

.self-button {
  @height: 2rem;
  background-color: #d5ba73;
  color: white;
  border-radius: (@height / 2);
  height: @height;
  line-height: @height;
  font-size: .6rem;
  font-weight: bolder;
  margin: 0 auto;
}
.flex-one {
  flex: 1 1 0;
}
.flex-center {
  display: flex;
  align-items: center;
}
.weui-input {
  height: auto!important;
  line-height: 1.5;
}
.gray {
  color: #8e8e8e;
}
.middle_font {
  font-size: .65rem;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
[class*=button-] {
  line-height: 98px;
  font-size: 25px;
  color: #f4f4f4;
  border-radius: 50px;
  text-align: center;
}
.button-primary {
  background-image: linear-gradient(to right, #b4282d 0%, #B44F55 100%);
}
.button-outline {
  color: #b4282d;
  border: 1px solid #b4282d;
}
.button-default {
  background-color: #cecece;
  border: 1px solid #cecece;
  color: white;
}
.ops {
  justify-content: space-around;
  > [class*=button-] {
    width: 45%;
  }
}

.pl1rem {
  padding-left: 1rem;
}
.pr1rem {
  padding-right: 1rem;
}
.mr12 {
  margin-right: 12Px;
}
.mt1rem {
  margin-top: 1rem;
}
.clickable {
  color: #b4282d;
}
.middle-img {
  width: 3rem;
  height: 3rem;
}
:root {
  --border-color: #f9f9f9;
}
